# App
APP_PORT = ":"

# Session Encryption Key
SESSION_SECRET_CURRENT = ""
SESSION_SECRET_OLD = ""

# CSRF Secret
CSRF_SECRET = ""

# Database
DB_USER = ""
DB_PASS = ""
DB_HOST = ""
DB_PORT = ""
DB_NAME = ""