# App
# example port :8080
APP_PORT = ":"

# Frontend link
WEBSITE_URL = ""

# Session Encryption Key
SESSION_SECRET_CURRENT = ""
SESSION_SECRET_OLD = ""

# midtrans payment gateway
MIDTRANS_API_BASE = ""
MIDTRANS_URL = ""
MIDTRANS_SERVER_KEY_SANDBOX = ""
MIDTRANS_SERVER_KEY_PRODUCTION = ""

# brevo api key
BREVO_API_KEY = ""

# CSRF Secret
CSRF_SECRET = ""

# Database
DB_USER = ""
DB_PASS = ""
DB_HOST = ""
DB_PORT = ""
DB_NAME = ""

# Upload file
PROFILE_UPLOAD_PATH = ""
PRODUCT_IMG_UPLOAD_PATH = ""

# Template Path
TEMPLATES_PATH = 